@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Poppins";
}
.container {
	position: relative;
}
#particles-js {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #f6f6f6;
	overflow: hidden;
}

.portfolio {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	margin-left: 20px;
	position: absolute;
	color: #f6f6f6;
	background-color: #212121;
	text-decoration: none;
	top: calc(100vh - 200px);
	padding: 15px;
	font-family: "Open Sans", sans-serif;
}
.portfolio:hover {
	font-size: 18px;
	padding: 10px;
}

.data {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	margin-left: 200px;
	position: absolute;
	color: #f6f6f6;
	background-color: #212121;
	text-decoration: none;
	top: calc(100vh - 200px);
	padding: 15px;
	font-family: "Open Sans", sans-serif;
}
.data:hover {
	font-size: 18px;
	padding: 10px;
}

.typewrite {
	margin-left: 20px;
	margin-top: 40px;
	position: absolute;
	font-size: 60px;
	text-decoration: none;
	color: #212121;
	z-index: 999;
}
